@using System.Reflection
<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment


@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
}


<html lang="pt" data-bs-theme="dark">

<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - @ViewData["SolutionName"]</title>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MyLeasing.Web.styles.css" asp-append-version="true"/>


    @* <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css"/> *@
    @* <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css"/> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">

    <link href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/cr-1.6.2/date-1.4.1/fc-4.2.2/fh-3.3.2/kt-2.9.0/r-2.4.1/rg-1.3.1/rr-1.3.3/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.css"
          rel="stylesheet"/>

</head>


<body>

<header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-tabs">

        <div class="container-fluid">

            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Title"] - </a> *@
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                @ViewData["AssemblyName"] - @ViewData["AssemblyVersion"]
            </a>


            <div class="navbar-collapse collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav flex-grow-1">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" aria-current="page">Home</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                    <a class="nav-link" asp-area="" asp-controller="Owners" asp-action="Index">Owners</a>
                    <a class="nav-link" asp-area="" asp-controller="Lessees" asp-action="Index">Lesseess</a>
                </div>
            </div>

            <div class="d-flex ms-auto">

                <div class="form-check form-switch me-2">
                    <div class="d-flex flex-column">
                        <input class="form-check-input order-1 align-self-center" type="checkbox" id="darkModeSwitch">
                        <label class="form-check-label order-2 align-self-center" for="darkModeSwitch">Dark Mode</label>
                    </div>
                </div>

                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>

        </div>

    </nav>

</header>


<div class="container-fluid justify-content-center">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<br/>
<br/>
<br/>

<footer class="border-top footer text-muted">
    <div class="container">
        @DateTime.Now | @DateTime.Today.Year - @ViewData["AssemblyName"] &copy; - Versão: @ViewData["AssemblyVersion"] | Web -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/cr-1.6.2/date-1.4.1/fc-4.2.2/fh-3.3.2/kt-2.9.0/r-2.4.1/rg-1.3.1/rr-1.3.3/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
        $(document).ready(function () {
            let switchInput = document.getElementById("darkModeSwitch");
            let htmlElement = document.documentElement;

            // Set initial state based on data-bs-theme attribute
            switchInput.checked = htmlElement.getAttribute("data-bs-theme") === "dark";

            // Toggle theme when switch is clicked
            switchInput.addEventListener("change", function () {
                if (this.checked) {
                    htmlElement.setAttribute("data-bs-theme", "dark");
                } else {
                    htmlElement.setAttribute("data-bs-theme", "light");
                }
            });
        });
</script>


<script>
        $(document).ready(
            function() {
            // $('#sortableTable').DataTable();
            $('#sortableTable').DataTable({"pageLength": 25});
        }
        );
        </script>

<script>
        function previewImage(event) {
            const reader = new FileReader();

            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = reader.result;
            }

            reader.readAsDataURL(event.target.files[0]);
        }
</script>


<script>
    function previewImages(event) {
        let reader = new FileReader();

        reader.onload = function() {
            let previews = document.getElementsByClassName('preview');
            for (let i = 0; i < previews.length; i++) {
                previews[i].src = reader.result;
            }
        }

        reader.readAsDataURL(event.target.files[0]);
    }
</script>


@await RenderSectionAsync("Scripts", false)


</body>


</html>