@inject IWebHostEnvironment HostingEnvironment
@inject IWebHostEnvironment WebHostEnvironment


@* @model IEnumerable<MyLeasing.Web.Data.Entities.Owner> *@
@* @model IEnumerable<MyLeasing.Web.Data.Entities.Lessee> *@

@* @model MyLeasing.Web.Data.Entities.Owner *@
@model MyLeasing.Web.Data.Entities.Lessee

@* @model MyLeasing.Web.Models.OwnerViewModel *@
@* @model MyLeasing.Web.Models.LesseeViewModel *@


@{
    // ViewData["Title"] = "Index";
    ViewData["Title"] = "Owners List";
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + "-" + @ViewContext.RouteData.Values["action"];
}

@{
    var webHostEnvironment = ViewContext.HttpContext.RequestServices
        .GetService<IWebHostEnvironment>();

    var webRootPath = webHostEnvironment?.WebRootPath;

    var fileImageToShow = "~/images/PlaceHolders/4131088.webp";
}


<br/>
<h1>@ViewContext.RouteData.Values["action"]</h1>

@* <br/> *@
@* <h4>@ViewContext.RouteData.Values["controller"]</h4> *@
@* <h4>@Model.GetType().Name</h4> *@

<br/>
<hr/>

<div class="container-fluid">
    <div class="row">

        <div class="col-auto">
            @{
                var fileExists = false;

                if (!string.IsNullOrEmpty(Model.ProfilePhotoUrl))
                {
                    if (webRootPath != null)
                    {
                        var photoPath = System.IO.Path.Combine(webRootPath, Model.ProfilePhotoUrl[2..]);
                        fileExists = File.Exists(photoPath);

                        photoPath = System.IO.Path.Combine(webRootPath, Model.ProfilePhotoUrl.TrimStart('~', '/'));
                        fileExists = File.Exists(photoPath);
                    }
                }

                if (fileExists) fileImageToShow = Model.ProfilePhotoUrl;

                <img src="@Url.Content(fileImageToShow)"
                     class="img-thumbnail" width="350" height="auto" alt="Image" id="preview"/>

                Console.WriteLine("debug zone");
            }
        </div>

        <div class="col">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProfilePhotoUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProfilePhotoUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FixedPhone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FixedPhone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CellPhone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>

            <div>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </div>

    </div>
</div>