@inject IWebHostEnvironment HostingEnvironment
@inject IWebHostEnvironment WebHostEnvironment


@* @model IEnumerable<MyLeasing.Web.Data.Entities.Owner> *@
@* @model IEnumerable<MyLeasing.Web.Data.Entities.Lessee> *@

@* @model MyLeasing.Web.Data.Entities.Owner *@
@* @model MyLeasing.Web.Data.Entities.Lessee *@

@model MyLeasing.Web.Models.OwnerViewModel
@* @model MyLeasing.Web.Models.LesseeViewModel *@


@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " - " + @ViewContext.RouteData.Values["action"];
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " List";
}

@{
    var webHostEnvironment = ViewContext.HttpContext.RequestServices
        .GetService<IWebHostEnvironment>();

    var webRootPath = webHostEnvironment?.WebRootPath;

    const string fileImageToShow = "~/images/PlaceHolders/240px-Placeholder_no_text.png";
}


<br/>
<h1>@ViewContext.RouteData.Values["action"]</h1>

@* <br/> *@
@* <h4>@ViewContext.RouteData.Values["controller"]</h4> *@
@* <h4>@Model.GetType().Name</h4> *@

<br/>
<hr/>

<div class="container-fluid">
    <div class="row">

        <div class="col-auto">
            <img src="@Url.Content(fileImageToShow)"
                 class="img-thumbnail" width="350" height="auto" alt="Image" id="preview"/>
        </div>

        <div class="col">
            <div class="row">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label"></label>
                        <input asp-for="Document" class="form-control"/>
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" class="form-control" id="imageInput"
                               onchange="previewImage(event)" type="file"/>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>

                    @* <div class="form-group"> *@
                    @*     <label asp-for="ProfilePhotoUrl" class="control-label"></label> *@
                    @*     <input asp-for="ProfilePhotoUrl" class="form-control"/> *@
                    @*     <span asp-validation-for="ProfilePhotoUrl" class="text-danger"></span> *@
                    @* </div> *@

                    <div class="form-group">
                        <label asp-for="FixedPhone" class="control-label"></label>
                        <input asp-for="FixedPhone" class="form-control"/>
                        <span asp-validation-for="FixedPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CellPhone" class="control-label"></label>
                        <input asp-for="CellPhone" class="form-control"/>
                        <span asp-validation-for="CellPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control"/>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function previewImage(event) {
            const reader = new FileReader();

            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = reader.result;
            }

            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

}