@model IEnumerable<MyLeasing.Common.Entities.Owner>


@{
    ViewData["Title"] = "Owners List";
}

@* 1.ª função para a string de formatação *@
@functions {
    // Função de formatação de telefone
    // private static string FormatPhoneNumber(string phoneNumber)
    // {
    //     if (string.IsNullOrEmpty(phoneNumber) || phoneNumber.Length != 8)
    //         return phoneNumber;
    //
    //     return $"({phoneNumber[..2]}) {phoneNumber.Substring(2, 4)}-{phoneNumber[6..]}";
    // }

    // Função de formatação de telefone
    private static string FormatPhoneNumber(string phoneNumber)
    {
        if (string.IsNullOrEmpty(phoneNumber))
            return "N/A";

        phoneNumber = phoneNumber.PadLeft(8, '0');

        return $"({phoneNumber[..2]}) {phoneNumber.Substring(2, 4)}-{phoneNumber[6..]}";
    }

}


<br/>
<h1>@ViewData["Title"]</h1>

<br/>
<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>

<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.FirstName) *@
        @* </th> *@
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.LastName) *@
        @* </th> *@
        <th>
            @Html.DisplayNameFor(model => model.FixedPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.FirstName) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.LastName) *@
            @* </td> *@

            <!-- Colunas com formatação -->
            <td>@FormatPhoneNumber(item.FixedPhone ?? "N/A")</td>
            <td>@FormatPhoneNumber(item.CellPhone ?? "N/A")</td>

            <td>
                @Html.DisplayFor(modelItem => item.FixedPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<br/>
<br/>